.cart{
     display: none;
     position: fixed;
     z-index: 1;
     right: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.8);
 }
.cart-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-font-size: 20px;
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart{
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial;
}

.btn {
    display: block;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    color: mediumturquoise;
    border: 1px solid mediumturquoise;
    padding: 15px;
    margin: 20px;
    cursor: pointer;
}

.popup{
    display: block;
    margin: 0 auto;
    width: 50px;
    background-color: bisque;
    color: white;
    padding: 30px;
    position: relative;
    transition: .5s all;
    top: -999px;
}

.submit{
    background-color: mediumturquoise;
    cursor: pointer;
}

#modal{
    display: none;
}

#modal:checked ~ .popup {
    top: 0;
}

.closes{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}